<?xml version="1.0" encoding="utf-8"?>
<HtmlRulesConfig>
  <attrRules>
    <Item type="text" remarks="文本"  >
      <keys>
        <keyInfo key="dm_namemobile"  notnull="1"  checktype="all" tip="{dm_name_show_temp}的{dm_displaytype_show_temp}数据类型缺少dm_namemobile属性！" />
        <keyInfo key="dm_displaytype" notnull="1"  checktype="all" />
        <keyInfo key="dm_len" notnull="1"  checktype="edit" />
      </keys>
    </Item>
    <Item type="radio" remarks="单选">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
        <keyInfo key="dm_dropdownoptions" notnull="1" checktype="edit"  />
      </keys>
    </Item>
    <Item type="checkbox" remarks="复选">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1"  />
        <keyInfo key="dm_displaytype" notnull="1"  />
        <keyInfo key="dm_dropdownoptions" notnull="1" checktype="edit"  />
      </keys>
    </Item>
    <Item type="select" remarks="下拉框">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1"  />
        <keyInfo key="dm_displaytype"  notnull="1" />
        <keyInfo key="dm_dropdownoptions" notnull="1" checktype="edit"  />
      </keys>
    </Item>
    <Item type="textarea" remarks="文本区">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1"  />
        <keyInfo key="dm_displaytype" notnull="1"  />
        <keyInfo key="dm_len" notnull="1" checktype="edit" />
      </keys>
    </Item>
    <Item type="number" remarks="数值">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1"  />
        <keyInfo key="dm_displaytype" notnull="1"  />
        <keyInfo key="acc" />
        <keyInfo key="grp" />
        <keyInfo key="max" notnull="1" checktype="edit" />
        <keyInfo key="min" notnull="1" checktype="edit" />
      </keys>
    </Item>
    <Item type="datetime" remarks="时间">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
        <keyInfo key="dm_time" checktype="edit" />
      </keys>
    </Item>
    <Item type="sum" remarks="合计域">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
        <keyInfo key="dm_dropdownoptions" KeyHtml="id" Rules=".*" notnull="1" />
        <keyInfo key="acc" />
        <keyInfo key="grp" />
      </keys>
    </Item>
    <Item type="hidden" remarks="隐藏">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
      </keys>
    </Item>
    <Item type="link" remarks="超链接" tip="超链接会被解析文本">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
        <keyInfo key="dm_linkurl" checktype="edit" />
        <keyInfo key="dm_linkurlmobile" checktype="edit" />
        <keyInfo key="dm_displaytext" checktype="edit" />
      </keys>
    </Item>
    <Item type="calc" remarks="计算域">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
        <keyInfo key="dm_dropdownoptions" KeyHtml="id" Rules="(?&lt;={)[^{}]*?(?=})" />
      </keys>
    </Item>
    <Item type="richtext" remarks="富文本" tip="请在预览页面查看富文本效果">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
      </keys>
    </Item>
    <Item type="backfill" remarks="签章回填域">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
      </keys>
    </Item>
    <Item type="attach" remarks="附件域">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
        <keyInfo key="valueAttr" />
      </keys>
    </Item>
    <Item type="assistant_r" remarks="辅助录入（只读）">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
      </keys>
    </Item>
    <Item type="assistant_w" remarks="辅助录入（可写）">
      <keys>
        <keyInfo key="dm_namemobile" notnull="1" />
        <keyInfo key="dm_displaytype" notnull="1" />
      </keys>
    </Item>
  </attrRules>
</HtmlRulesConfig>