<?xml version="1.0" encoding="utf-8"?>
<HtmlContentConfig>
  <rulesitems>
    <!--
    <rulesitem>
      <rule><![CDATA[<script[^>]*?>[\s\S]*?<\/script>]]></rule>
      <title>表单存在js代码，移动端不会执行，上线前请测试此表单是否正常使用</title>
      <errorlevel>warn</errorlevel>
    </rulesitem>
    <rulesitem>
      <rule><![CDATA[<includescript[^>]*?>[\s\S]*?<\/includescript>]]></rule>
      <title>存在js代码，此js代码在移动端这边是不会被执行</title>
      <errorlevel>warn</errorlevel>
    </rulesitem>
    -->
  </rulesitems>
  <remark>建议把XML格式全部换成json，除非是和表单有关的</remark>
</HtmlContentConfig>