<?xml version="1.0" encoding="utf-8"?>
<SiteInfo>
  <CustomCode>localhost</CustomCode>
  <CustomName>wh-zs</CustomName>
  <ERPUrl>http://localhost:10001</ERPUrl>
  <WFUrl>http://localhost:10001</WFUrl>
  <ERPVersion>307sp1</ERPVersion>
  <DBServerName>10.5.10.51\sql2008r2</DBServerName>
  <DBName>dotnet_erp254sp1_beijing_bjgr_branch1</DBName>
  <DBUserName>sa</DBUserName>
  <DBSaPassword>95938</DBSaPassword>
  <UpFilesAddress>E:\workflow\07 项目ERP\04 重庆融汇</UpFilesAddress>
  <WFAddress>E:\workflow\07 项目ERP\04 重庆融汇</WFAddress>
</SiteInfo>